.container-fluid{
	text-align: center;
}

.blog{
	background-color:#febcbc;
	padding: 0 10px;
	width: 455px;
	margin: 5px;
}

.card {
    background-color: #FFF;
    border: 0;
    margin: 20px 0px;
}

.card-block {
    padding: 15px;
}