/* note.css 
@css : note.css
@Date : 2018.10.11
@Author : 고은아
@Desc :	note.css
*/

@import url(main.css);

/* 발행버튼 */
.notePublish {
	width: 200px;
}

/* 최종 발행 창 내 라벨 중 전체공개 */
#noteLabel {
	margin-top: 0px;
}

/* 최종 발행 창 내 라디오버튼-전체공개 */
#noteRadio1 {
	margin-top: 10px !important;
}

/* 최종 발행 창 */
.noteModalSize {
	width: 380px;
}

/* 최종 발행 창 내 라벨 */
.noteLabels {
	margin-left: 30px;
	margin-right: 10px;
}

/* 노트 작성 당시 좌측 네브 */
#writeNoteNavUl {
	margin: 0px !important;
	padding: 0px !important;
	border: 0px !important;
}

/* 검색 시 디브 확장 버튼 */
.searchBtn {
	position: absolute;
	top: 460px;
	right: 20px;
}

/* 검색 시 확장되는 디브 */
#portalSearch, #inSiteSearch {
	position: relative;
	height: 900px;
}

/* mynote 단에서 footer 크기 잡기 위해 임의 지정 */
#footer {
	width: 100%;
	padding: 0px !important;
}

.searchCal{
	padding: 1em !important;
}