/* note.css 
@css : note.css
@Date : 2018.10.11
@Author : 고은아,우나연
@Desc :	note.css
*/

@import url(main.css);
@import url("https://use.fontawesome.com/releases/v5.3.1/css/all.css");


/* 발행버튼 */
.notePublish {
	width: 200px;
}

/* 최종 발행 창 내 라벨 중 전체공개 */
#noteLabel {
	margin-top: 0px;
}

/* 최종 발행 창 내 라디오버튼-전체공개 */
#noteRadio1 {
	margin-top: 10px !important;
}

/* 최종 발행 창 */
.noteModalSize {
	width: 380px;
}

/* 최종 발행 창 내 라벨 */
.noteLabels {
	margin-left: 30px;
	margin-right: 10px;
}

/* 노트 작성 당시 좌측 네브 */
#writeNoteNavUl {
	margin: 0px !important;
	padding: 0px !important;
	border: 0px !important;
}

/* 검색 시 디브 확장 버튼 */
.searchBtn {
	position: absolute;
	top: 460px;
	right: 20px;
}

/* 검색 시 확장되는 디브 */
#portalSearch, #inSiteSearch {
	position: relative;
	height: 900px;
}

/* mynote 단에서 footer 크기 잡기 위해 임의 지정 */
#footer {
	width: 100%;
	padding: 0px !important;
}

.searchCal{
	padding: 0 -1em !important;
}


/* sidebar 설정 */
#sidebar {
	-moz-flex-grow: 0;
	-webkit-flex-grow: 0;
	-ms-flex-grow: 0;
	flex-grow: 0;
	-moz-flex-shrink: 0;
	-webkit-flex-shrink: 0;
	-ms-flex-shrink: 0;
	flex-shrink: 0;
	-moz-transition: margin-left 0.5s ease, box-shadow 0.5s ease;
	-webkit-transition: margin-left 0.5s ease, box-shadow 0.5s ease;
	-ms-transition: margin-left 0.5s ease, box-shadow 0.5s ease;
	transition: margin-left 0.5s ease, box-shadow 0.5s ease;
	background-color: rgba(255, 255, 255, 0);
	font-size: 1em;
	position: relative;
	/* height: 100% !important;
	margin: 0 5em 0 0;
	border: 1 solid black; */
}

#sidebar h2 {
	font-size: 1.3888888889em;
}

#sidebar>.inner {
	padding: 2.2222222222em 2.2222222222em 3.2222222222em 2.2222222222em;
	position: relative;
	height: 100%;
}

/* #sidebar>.inner>* {
	border-bottom: solid 2px rgba(210, 215, 217, 0.75);
	margin: 0 0 2.5em 0;
	padding: 0 0 3.5em 0;
} */

#sort-category {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		background: #ffffff;
		border-radius: 0.375em;
		border: none;
		border: solid 1px rgba(210, 215, 217, 0.75);
		color: inherit;
		display: inline-block;
		outline: 0;
		padding: 0 1em;
		margin: 0 0 0 0;
		text-decoration: none;
}

#sidebar>.inner>*>:last-child {
	margin-bottom: 0;
}

#sidebar>.inner>*:last-child {
	border-bottom: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}

#sidebar>.inner>.alt {
	background-color: rgba(255, 255, 255, 0);
	border-bottom: 0;
	margin: -2.2222222222em 0 1.5em -2.2222222222em;
	padding: 2.2222222222em;
	width: calc(100% + 4.4444444444em);
}

#sidebar .toggle {
	text-decoration: none;
	-moz-transition: left 0.5s ease;
	-webkit-transition: left 0.5s ease;
	-ms-transition: left 0.5s ease;
	transition: left 0.5s ease;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	border: 0;
	display: block;
	height: 7.5em;
	left: 26em;
	line-height: 7.5em;
	outline: 0;
	overflow: hidden;
	position: absolute;
	text-align: center;
	text-indent: 7.5em;
	top: 0;
	width: 6em;
	z-index: 10000;
}

#sidebar .toggle:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome; 
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

#sidebar .toggle:before {
 	content: '\f0c9'; 
	font-size: 2rem;
	height: inherit;
	left: 0;
	line-height: inherit;
	position: absolute;
	text-indent: 0;
	top: 0;
	width: inherit;
}

#sidebar.inactive {
	margin-left: -26em;
}

@media screen and (max-width: 1680px) {
	#sidebar {
		height: 100% !important;
	}
	#sidebar>.inner {
        -webkit-overflow-scrolling: touch;
        overflow-x: hidden;
		overflow-y: auto;
        height: 100%;
		padding: 1.6666666667em 1.6666666667em 1.3333333333em 1.6666666667em;
	}
	#sidebar>.inner>.alt {
		margin: -1.6666666667em 0 3.3333333333em -1.6666666667em;
		padding: 1.6666666667em;
		width: calc(100% + 3.3333333333em);
	}
	#sidebar .toggle {
		height: 6.25em;
		left: 24em;
		line-height: 6.25em;
		text-indent: 5em;
		width: 5em;
	}
	#sidebar .toggle:before {
		font-size: 1.5rem;
	}
	#sidebar.inactive {
		margin-left: -24em;
	}
}

@media screen and (min-width: 1680px) {
	#sidebar {
		box-shadow: 0 0 5em 0 rgba(0, 0, 0, 0);
		height: 100%;
		left: 0;
		/* 		position: fixed; */
		top: 0;
		z-index: 10000;
	}
	#sidebar.inactive {
		box-shadow: none;
	}
	#sidebar>.inner {
		-webkit-overflow-scrolling: touch;
		height: 100%;
		left: 0;
		overflow-x: hidden;
		overflow-y: auto;
		position: absolute;
		top: 0;
	}
	#sidebar>.inner:after {
		content: '';
		display: block;
		height: 4em;
		width: 100%;
	}
	#sidebar .toggle {
		text-indent: 6em;
		width: 6em;
	}
	#sidebar .toggle:before {
		font-size: 1.5rem;
		margin-left: -0.4375em;
	}
	body.is-preload #sidebar {
		display: none;
	}
}

@media screen and (max-width: 736px) {
	#sidebar {
		display: none;
	}
	#sidebar .toggle {
		text-indent: 7.25em;
		width: 7.25em;
	}
	#sidebar .toggle:before {
		color: #7f888f;
		margin-left: -0.0625em;
		margin-top: -0.25em;
		font-size: 1.1rem;
		z-index: 1;
	}
	#sidebar .toggle:after {
		background: rgba(222, 225, 226, 0.75);
		border-radius: 0.375em;
		content: '';
		height: 3.5em;
		left: 1em;
		position: absolute;
		top: 1em;
		width: 5em;
	}
}

/* 메인 설정 */
#content {
	float: left;
	padding-left: 35px;
	padding-top: 45px;
	padding-bottom: 50px;
	position: relative;
}

#breadscrumb {
	position: absolute;
	top: 57px;
	right: 0px;
}

#content-searchform {
	margin-top: 49px;
	text-align: right;
}

#content-searchform fieldset {
	display: inline-block;
}

#cur-page {
	text-align: right;
}

#pager-wrapper {
	text-align: center;
}


/*footer*/
#footer {
	clear: both;
}

/* 드래그 목록 사이즈 설정 */
.mini-posts article {
	border-top: solid 1px rgba(210, 215, 217, 0.75);
	margin-top: 2em;
	padding-top: 2em;
}

.mini-posts article .image {
	display: block;
	margin: 0 0 1.5em 0;
}

.mini-posts article .image img {
	display: block;
	width: 100%;
}

.mini-posts article:first-child {
	border-top: 0;
	margin-top: 0;
	padding-top: 0;
}


/* 검색 */

#search {
	 padding-top:15px;
}
#sort-search form, #subject-search form {
	text-decoration: none;
	position: relative;
}

#subject-search form>input,
#sort-search form>input {
	padding:0 1em;
}

#sort-search form:before,
#subject-search form:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
/* 	font-family: FontAwesome; */
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
	-moz-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	transform: scaleX(-1);
	color: #7f888f;
/* 	content: '\f002'; */
	cursor: default;
	display: block;
	font-size: 1.5em;
	height: 2em;
	line-height: 2em;
	opacity: 0.325;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 2em;
}


 body, input, select, textarea {
	color: #7f888f;
	font-family: "Open Sans", sans-serif;
	font-size: 13pt;
	font-weight: 400;
	line-height: 1.65;
	} 
	
input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: radio;
	-ms-appearance: none;
	appearance: none;
	} 

input[type="text"],
select,
textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	background: #ffffff;
	border-radius: 0.375em;
	border: none;
	border: solid 1px rgba(210, 215, 217, 0.75);
	color: inherit;
	display: block;
	outline: 0;
	padding: 0 2.75em 0 0;
	margin: 0 0 1em 0;
	text-decoration: none;
	width: 100%;
	}	

#subject-category {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	background: #ffffff;
	border-radius: 0.375em;
	border: none;
	border: solid 1px rgba(210, 215, 217, 0.75);
	color: inherit;
	display: inline-block;
	outline: 0;
	padding: 0 1em;
	margin: 0 0 0 16;
	text-decoration: none;
	}

input[type="text"]:invalid,
input[type="search"]:invalid,
input[type="url"]:invalid,
select:invalid,
textarea:invalid {
	box-shadow: none;
	}

input[type="text"]:focus,
select:focus,
textarea:focus {
	border-color: #f56a6a;
	box-shadow: 0 0 0 1px #f56a6a;
	}

select {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='rgba(210, 215, 217, 0.75)' /%3E%3C/svg%3E");
	background-size: 1.25em;
	background-repeat: no-repeat;
	background-position: calc(100% - 1em) center;
	height: 2.75em;
	padding-right: 2.75em;
	text-overflow: ellipsis;
	}

select option {
	color: #3d4449;
	background: #ffffff;
	}

select:focus::-ms-value {
	background-color: transparent;
	}

select::-ms-expand {
	display: none;
	}

input[type="text"],
select {
	height: 2.75em;
	}  
	
#search-text {
	padding: 0 1em;
	
	}

/* 섹션 */
section{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	display: block;
	}

/* Section/Article */

section.special, article.special {
	text-align: center;
	}

header p {
	font-family: "Roboto Slab", serif;
	font-size: 1em;
	font-weight: 400;
	letter-spacing: 0.075em;
	margin-top: -0.5em;
	text-transform: uppercase;
	}

header.major > :last-child {
	border-bottom: solid 3px #f56a6a;
	display: inline-block;
	margin: 0 0 2em 0;
	padding: 0 0.75em 0.5em 0;
	}

header.main > :last-child {
	margin: 0 0 1em 0;
	}
/* 메인 설정 */
#content {
	float: right;
	width: 720px; /*755-35*/
	padding-left: 35px;
	padding-top: 45px;
	padding-bottom: 50px;
	position: relative;
}

#breadscrumb {
	position: absolute;
	top: 57px;
	right: 0px;
}

#content-searchform {
	margin-top: 49px;
	text-align: right;
}

#content-searchform fieldset {
	display: inline-block;
}

#cur-page {
	text-align: right;
}

#pager-wrapper {
	text-align: center;
}

/*footer*/
#footer {
	clear: both;
}

/* 드래그 목록 사이즈 설정 */
.mini-posts article {
	border-top: solid 1px rgba(210, 215, 217, 0.75);
	margin-top: 2em;
	padding-top: 2em;
}

.mini-posts article .image {
	display: block;
	margin: 0 0 1.5em 0;
}

.mini-posts article .image img {
	display: block;
	width: 100%;
}

.mini-posts article:first-child {
	border-top: 0;
	margin-top: 0;
	padding-top: 0;
}