/* qna.css 
@css : qna.css
@Date : 2018.10.19
@Author : 임지현
@Desc :	qna.css
*/

@import url(main.css);
@import url("https://use.fontawesome.com/releases/v5.3.1/css/all.css");

.qnaComm-inputBox{
	margin-bottom: 30px;
    margin-top: 10px;
}
.comment{
	margin-top: 15px;
    padding: 0;
}
.qnaCommTrashBtn, .qnaCommCommBtn,.titleLink,.qnaCommCommExit{
	cursor: pointer;
}
#commCommAtag{
	margin-top: 0px !important;
}
.qnaNotice{
	display: inline-block;
}

.qnaTitle{
	display: inline-block;
	width: 90%;
}
.qnaSecret{
	margin-bottom: 30px;
}
.secretQna{
	margin-top: 30px;
	margin-bottom: 500px;
	margin-left: auto;
	
}
.qnaDetail{
	border-bottom: 1px solid #D5D5D5;
	margin-bottom:10px; 
}
.qnaContent{
	padding:5px 30px;
	height: 300px;
}
.secretQnaBox{
	margin: auto;
	width:500px;
	border: 0.5px solid #4C4C4C;
	text-align: center;
}
.secretQnaBox *{
	display: inline-block;
}
.secretQnaBoxContent, .secretQnaBtn{
	margin:10px 50px;
}
.qnaReply{
	margin-bottom:30px;
	text-align: left;
	font-size:20px;
	font-weight: bold;
}
.qnaCommCommBox{
	display: block;
}
.qnaCommCommExit{
	margin-top:10px;
	margin-bottom:10px;
	text-align:right;
	display: inline-block;
	float: right;
	
}
.qnaCommCommExit:hover{
	color: #f56a6a;
}
.display-Table{
	display: table;
	clear: both;
}

.comment-box {
	margin-top: 30px !important;
}

/* .comment-box .media-left {
	 padding-right: 10px; 
	 width: 500px;
} */

.qnaCommentBox{
	padding: 4px;
	padding-top: 12px;
}

.qnaCommentBox img {
	height: 45px;
	width: 45px;
	border-radius: 50%;
	background-size: contain;
}

.user-photo{
	display: inline-block;
	width:45px !important;
	height:45px !important;
	margin-left: 15px;
}