/* search.css 
@css : search.css
@Date : 2018.10.10
@Author : 임효진
@Desc :	selectSearchSite, selectSearchNaver, selectSearchGoogle. css
		
@Date : 2018.10.16
@Author : 이주원, 문지은
@Desc :	aside 고정
*/
@import url(main.css);

.page-body-wrapper {
  min-height: calc(100vh - 70px);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  padding-left: 0;
  padding-right: 0;
}

.col-xs-2, .col-xs-12 {
	padding: 0 !important;
}

.no-margin {
	margin-bottom: 0;
}

/* sidebar 설정 */
#sidebar {
	-moz-flex-grow: 0;
	-webkit-flex-grow: 0;
	-ms-flex-grow: 0;
	flex-grow: 0;
	-moz-flex-shrink: 0;
	-webkit-flex-shrink: 0;
	-ms-flex-shrink: 0;
	flex-shrink: 0;
	-moz-transition: margin-left 0.5s ease, box-shadow 0.5s ease;
	-webkit-transition: margin-left 0.5s ease, box-shadow 0.5s ease;
	-ms-transition: margin-left 0.5s ease, box-shadow 0.5s ease;
	transition: margin-left 0.5s ease, box-shadow 0.5s ease;
	background-color: rgba(255, 255, 255, 0);
	font-size: 1em;
	width: 400px;
	height: 100vh;
	margin: 0 2rem 0;
	}

#sidebar h2 {
	font-size: 1.3888888889em;
}

#sidebar>.inner {
	position: relative;
	height: 100%;
	width: inherit;
}

#sidebar>.inner>* {
	/* border-bottom: solid 2px rgba(210, 215, 217, 0.75); */
	margin: 0;
	padding: 0;
}

#sidebar>.inner>#sort-category {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		background: #ffffff;
		border-radius: 0.375em;
		border: none;
		border: solid 1px rgba(210, 215, 217, 0.75);
		color: inherit;
		display: inline-block;
		outline: 0;
		padding: 0 1rem;
		margin: 0 0 0 16;
		text-decoration: none;
}

#sidebar>.inner>*>:last-child {
	margin-bottom: 0;
}

#sidebar>.inner>*:last-child {
	border-bottom: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}

#sidebar>.inner>.alt {
	background-color: rgba(255, 255, 255, 0);
	border-bottom: 0;
	margin: -2.2222222222em 0 4.4444444444em -2.2222222222em;
	padding: 2.2222222222em;
	width: calc(100% + 4.4444444444em);
}

#sidebar .toggle {
	text-decoration: none;
	-moz-transition: left 0.5s ease;
	-webkit-transition: left 0.5s ease;
	-ms-transition: left 0.5s ease;
	transition: left 0.5s ease;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	border: 0;
	display: block;
	height: 7.5em;
	left: 26em;
	line-height: 7.5em;
	outline: 0;
	overflow: hidden;
	position: absolute;
	text-align: center;
	text-indent: 7.5em;
	top: 0;
	width: 6em;
	z-index: 10000;
}

#sidebar .toggle:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	/* font-family: FontAwesome; */
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

#sidebar .toggle:before {
	height: inherit;
	left: 0;
	line-height: inherit;
	position: absolute;
	text-indent: 0;
	top: 0;
	width: inherit;
}

#sidebar.inactive {
	margin-left: -26em;
}

@media screen and (max-width: 1680px) {
	#sidebar {
		height: 100% !important;
	}
	#sidebar>.inner {
        -webkit-overflow-scrolling: touch;
        overflow-x: hidden;
		overflow-y: scroll;
        height: 100%;
		padding: 1.6666666667rem 3rem 1.3333333333rem 1.6666666667rem;
	}
	
	.s-inner {
		-webkit-overflow-scrolling: touch;
        height: 100%;
        overflow: hidden;
		padding: 1.6666666667rem 3rem 1.3333333333rem 1.6666666667rem;
	}
	
	#sidebar>.inner>.alt {
		margin: -1.6666666667em 0 3.3333333333em -1.6666666667em;
		padding: 1.6666666667em;
		width: calc(100% + 3.3333333333em);
	}
	#sidebar .toggle {
		height: 6.25em;
		left: 24em;
		line-height: 6.25em;
		text-indent: 5em;
		width: 5em;
	}
	#sidebar .toggle:before {
		font-size: 1.5rem;
	}
	#sidebar.inactive {
		margin-left: -24em;
	}
}

@media screen and (min-width: 1680px) {
	#sidebar {
		/* box-shadow: 0 0 5em 0 rgba(0, 0, 0, 0);
		height: 100%;
		left: 0;
		top: 0;
		z-index: 10000; 
		
		2018-10-16 이주원 주석처리. 이 부분을 주석처리해야 aside가 이쁘게 돌아가요ㅠㅠ*/
		height: 100% !important;
	}
	
	#sidebar.inactive {
		box-shadow: none;
	}
	
	#sidebar>.inner {
   		 -webkit-overflow-scrolling: touch;
   		 overflow-x: hidden;
   		 overflow-y: scroll;
   		 height: 100%;
   		 padding: 1.6666666667rem 3rem 1.3333333333rem 1.6666666667rem;
	}
	
	#sidebar>.inner:after {
		content: '';
		display: block;
		height: 4em;
		width: 100%;
	}

	.s-inner {
		-webkit-overflow-scrolling: touch;
        height: 100%;
		padding: 1.6666666667rem 3rem 1.3333333333rem 1.6666666667rem;
		overflow: hidden;
	}

	#sidebar .toggle {
		text-indent: 6em;
		width: 6em;
	}
	#sidebar .toggle:before {
		font-size: 1.5rem;
		margin-left: -0.4375em;
	}
	body.is-preload #sidebar {
		display: none;
	}
}

@media screen and (max-width: 767px) { /* 736을 767로 바꿔야 함 */
	#sidebar {
		display: none;
	}
	#sidebar .toggle {
		text-indent: 7.25em;
		width: 7.25em;
	}
	#sidebar .toggle:before {
		color: #7f888f;
		margin-left: -0.0625em;
		margin-top: -0.25em;
		font-size: 1.1rem;
		z-index: 1;
	}
	#sidebar .toggle:after {
		background: rgba(222, 225, 226, 0.75);
		border-radius: 0.375em;
		content: '';
		height: 3.5em;
		left: 1em;
		position: absolute;
		top: 1em;
		width: 5em;
	}
	
	.content {
	margin-left: 0 !important;
	}
	
}

/* 메인 설정 */
.radio {
	margin-top: 0;
	margin-bottom: 3.6rem;
}

.s-container {
	padding: 0 4rem 3rem 4rem; 
	width: 100%;
	margin: auto;
	margin-top: 0;
}

#breadscrumb {
	position: absolute;
	top: 57px;
	right: 0px;
}

#content-searchform {
	margin-top: 49px;
	text-align: right;
}

#content-searchform fieldset {
	display: inline-block;
}

#cur-page {
	text-align: right;
}


/*footer*/
#footer {
	clear: both;
}

/* 드래그 목록 사이즈 설정 */
.mini-posts article {
	border-top: solid 1px rgba(210, 215, 217, 0.75);
	margin-top: 2rem;
	padding-top: 2rem;
}

.mini-posts article .image {
	margin: 0 0 1.5rem 0;
}

.mini-posts article .image img {
	width: 80%;
	display: inline;
}

.mini-posts article:first-child {
	border-top: 0;
	margin-top: 0;
	padding-top: 0;
}

/* 카드 미리보기(검색결과, 노트 미리보기) */
.card {
    margin-bottom: 2.5em;
	padding: 0;
	border: solid 1px rgba(210, 215, 217, 0.75);
}
	
.card:hover{
	border-width: 2px;
   /*  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    /* 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.blog {
	display: inline-block;
	width: 300px;
}	

/* 검색 */
#subject-search form {
	text-decoration: none;
	position: relative;
}

#subject-search form>input {
	padding:0 1em;
}

#subject-search form:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	/* 	font-family: FontAwesome; */
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
	-moz-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	transform: scaleX(-1);
	color: #7f888f;
	cursor: default;
	display: block;
	font-size: 1.5em;
	height: 2em;
	line-height: 2em;
	opacity: 0.325;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 2em;
}

 body, input, select, textarea {
	color: #7f888f;
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.65;
	} 
	
input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: radio;
	-ms-appearance: none;
	appearance: none;
	} 

input[type="text"],
select,
textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	background: #ffffff;
	border-radius: 0.375em;
	border: none;
	border: solid 1px rgba(210, 215, 217, 0.75);
	color: inherit;
	display: block;
	outline: 0;
	padding: 0 2rem 0 ;
	margin: 0 0 1em 0;
	text-decoration: none;
	width: 100%;
	}	

#subject-category {
	display: inline-block;
	padding-right: 2.75em;
	}

input[type="text"]:invalid,
input[type="search"]:invalid,
input[type="url"]:invalid,
select:invalid,
textarea:invalid {
	box-shadow: none;
	}

input[type="text"]:focus,
select:focus,
textarea:focus {
	border-color: #f56a6a;
	box-shadow: 0 0 0 1px #f56a6a;
	}

select {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='rgba(210, 215, 217, 0.75)' /%3E%3C/svg%3E");
	background-size: 1.25em;
	background-repeat: no-repeat;
	background-position: calc(100% - 1em) center;
	height: 5rem;
	padding-right: 5rem;
	text-overflow: ellipsis;
	}

select option {
	color: #3d4449;
	background: #ffffff;
	}

select:focus::-ms-value {
	background-color: transparent;
	}

select::-ms-expand {
	display: none;
	}

input[type="text"],
select {
	height: 5rem;
	}  
	
#search-text {
	padding: 0 1rem;
	width: 80%;
	display: inline;
	}
	
/* 아이콘 설정 */
i:hover {
	color:#f56a6a;
}

.icon-size {
	margin-left: 2rem;
	font-size: 2rem;
}

.icon-top {
	vertical-align: top;
}
	
	
/* 	라디오버튼 */

input[type="checkbox"],
input[type="radio"] {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	display: block;
	margin-right: -2em;
	opacity: 0;
	width: 1em;
	z-index: -1;
	}

input[type="checkbox"] + label,
input[type="radio"] + label {
	text-decoration: none;
	color: #7f888f;
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	font-weight: 400;
	padding-left: 2.4em;
	padding-right: 0.75em;
	position: relative;
	}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
	}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
	background: #ffffff;
	border-radius: 0.375em;
	border: solid 1px rgba(210, 215, 217, 0.75);
	content: '';
	display: inline-block;
	height: 1.65em;
	left: 0;
	line-height: 1.58125em;
	position: absolute;
	text-align: center;
	top: 0;
	width: 1.65em;
	}

input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
	background: #3d4449;
	border-color: #3d4449;
	color: #ffffff;
	content: '\f00c';
	}

input[type="checkbox"]:focus + label:before,
input[type="radio"]:focus + label:before {
	border-color: #f56a6a;
	box-shadow: 0 0 0 1px #f56a6a;
	}

input[type="checkbox"] + label:before {
	border-radius: 0.375em;
	}

input[type="radio"] + label:before {
	border-radius: 100%;
	}

::-webkit-input-placeholder {
	color: #9fa3a6 !important;
	opacity: 1.0;
	}

:-moz-placeholder {
	color: #9fa3a6 !important;
	opacity: 1.0;
	}

::-moz-placeholder {
	color: #9fa3a6 !important;
	opacity: 1.0;
	}

:-ms-input-placeholder {
	color: #9fa3a6 !important;
	opacity: 1.0;
	}

/* 섹션 */
section{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	display: block;
	}

/* Section/Article */

section.special, article.special {
	text-align: center;
	}

header p {
	font-family: "Roboto Slab", serif;
	font-size: 1em;
	font-weight: 400;
	letter-spacing: 0.075em;
	margin-top: -0.5em;
	text-transform: uppercase;
	}

header.major > :last-child {
	border-bottom: solid 3px #f56a6a;
	display: inline-block;
	margin: 0 0 2rem 0;
	padding: 0 0.75em 0.5em 0;
	}

header.main > :last-child {
	margin: 0 0 1em 0;
	}