.navbar {
	line-height: 1.8;
	color: #f5f6f7;
	padding-top: 15px;
	padding-bottom: 0;
	border: 0;
	border-radius: 0;
	margin-bottom: 0;
	font-size: 15px;
	letter-spacing: 5px;
}

.navbar-nav  li a:hover {
	color: #f56a6a !important;
}

.bg-4 {
	background-color: #2f2f2f; /* Black Gray */
	color: #fff;
}

.container-fluid {
	padding-top: 70px;
	padding-bottom: 70px;
}

.logo,#loginlogo {
	margin-top :-15px;
	padding : 0px;
	width:85px;
	height :85px;
}

#loginlogo {
	margin-top :-15px;
	padding : 0px;
	width:85px;
	height :85px;
}


