
	
/* 구글 서치 검색 창 길이 */
#gsc-iw-id1{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top:8px;
    width : 100rem !important; 
	height: 48px !important;
	background: #ffffff;
    border-radius: 0.375em;
    border: none;
    border: solid 1px rgba(210, 215, 217, 0.75);
    text-decoration: none;
    bottom:6px;
}

/* 서치용 사이트 내 검색 자동완성 css */
 #ui-id-1{
	position: relative;
	/* 	top: -1151px !important; */
	/* left: 693px !important; */
	list-style: none !important;
	width: 917px  !important ; 
	background-color: rgb(255, 255, 255);
	display: none;
	border : 1px solid #f56a6a;
	border-radius: 0.375em;
}
#ui-id-1>li{
	margin: 5px 0;
	left :-20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
   
}
 #ui-id-1>li:hover{
	color:#f56a6a;
	
}